
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (DVH.QLBVot.Models.TaiKhoan)System.Web.HttpContext.Current.Session["user"];
}
<h2>
    @user.TenHienThi
</h2>

