@{
    ViewBag.Title = "Trang Chủ"; // Tiêu đề của trang
    Layout = "_Layout"; // Xác định layout sử dụng
}

<h1>Chào mừng đến với trang chủ!</h1>
<p>Đây là trang chủ của cửa hàng.</p>

<!-- Ví dụ hiển thị sản phẩm -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sản phẩm 1">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 1</h5>
                <p class="card-text">Giá: 100.000 VNĐ</p>
                <a href="#" class="btn btn-primary">Mua ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sản phẩm 2">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 2</h5>
                <p class="card-text">Giá: 200.000 VNĐ</p>
                <a href="#" class="btn btn-primary">Mua ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sản phẩm 3">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 3</h5>
                <p class="card-text">Giá: 300.000 VNĐ</p>
                <a href="#" class="btn btn-primary">Mua ngay</a>
            </div>
        </div>
    </div>
</div>
